<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sample Node.js Webpage</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
  </head>
  <body>
    <%- include('partials/navbar') %>
    <div class="container">
      <%- include('partials/header') %>
      <h1>Welcome to the Sample Node.js Webpage</h1>
      <h2>Hello Camsol...</h2>
    </div>
  </body>
</html>
